.header-container{
  display: flex;
  justify-content: center;
}
.header-row{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 1115px;
  text-align: center;
  justify-content: space-evenly;
  font-size: 18px;
 
}
#coin{
  width: 300px;

}
#price{
  width: 110px;
}
#volume{
  width:200px;
}
#market-cap{
width: 240px;
}
#change{
  width: 80px;
}
#seven-days{
  width: 180px;
}